*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    margin: 2rem 0;
    font-size: 2.2rem;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#form input{
    padding: 1rem 0.8rem;
    border-style: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 30%;
    font-size: 1rem;
    margin: 2rem 0;
    border-radius: 3px 0 0 3px;
    display: inline-block;
}

#form #btn{
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    background-color: rgb(79, 195, 79);
    color: white;
    margin-top: 0;
}

#form #btn:hover{
    background-color: rgb(78, 185, 78);
}

.search-results{
    display: flex;
    flex-wrap: wrap;
}

.search-result{
    width: 30%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.search-result img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.search-result:hover img{
    transform: scale(1.05);
}

.search-result a{
    text-decoration: none;
    margin: 1.3rem 0;
    color: black;
    font-weight: 500;
}

.search-result a:hover{
    color: rgb(52, 51, 51);
}

#next{
    display: block;
    margin: 2rem auto;
    padding: 1rem 1.2rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    background-color: rgb(251, 174, 74);
    color: white;
    display: none;
}

#next:hover{
    background-color: rgb(252, 164, 49);
}



/* CSS Media Queries */

@media screen and (max-width: 550px) {
    #form input{
        width: 70%;
        margin: 0 0 0 10px;
        padding: 0.9rem 0.8rem;
    }

    #form #btn{
        margin-right: 10px;
    }

   .search-results{
        width: 100%;
        flex-direction: column;
   }

   .search-result{
    width: 90%;
    height: 400px;
   }

   #form input{
    width: 80%;
   }

   .search-result img{
    margin-top: 1.5rem;
   }

   .search-result:hover img{
    transform: scale(1);
}
}