*{
    box-sizing: border-box;
    font-family: sans-serif
}

body{
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1704775933342-a740af07085f?q=80&w=1375&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    padding-top: 5rem;
    text-align: center;
    font-size: 3rem;
}

.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.for-dec{
    margin: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.big-text{
    margin: 20px 0;
    font-size: 50px;
    font-weight: bold;
}

span{
    font-size: 20px;
}


/* CSS Media Queries */
@media only screen and (max-width : 550px) {
    body{
        height: 100vh;
    }

    .for-dec{
        margin: 0 0.7rem;
    }

    h1{
        padding-top: 2rem;
        font-size: 2.5rem;
    }

    .big-text{
        margin: 15px 0;
        font-size: 40px;
    }
}











