*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: grey;
}

.app{
    width: 540px;
    padding: 30px;
    margin: 100px auto 0;
    color: white;
    background-color: black;
    border-radius: 6px;
}

.app h2{
    border-bottom: 1px solid white;
    width: 99%;
    padding-bottom: 20px;
}

.quiz{
    margin-top: 20px;
}

.question{
    font-family: Arial, Helvetica, sans-serif;
}

.buttons{
    margin-top: 10px;
}

.button{
    width: 99%;
    text-align: left;
    padding: 10px 12px;
    margin: 10px 0;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
}

.button:hover:not([disabled]){
    cursor: pointer;
    background-color: gray;
}

.button:disabled{
    cursor: no-drop;
}

.next{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: rgb(3, 83, 3);
    margin: 20px auto 0;
    display: none;
}

.next:hover{
    cursor: pointer;
    background-color: rgb(2, 58, 2);
}

.correct{
    background-color: #9aeabc;
}

.incorrect{
    background-color: #ff9393;
}






