*{
    margin: 0;
    padding: 0;
}

.button{
    padding: 10px 0;
    width: 70px;
    margin: 15px 0px 0px 25px;
}

.toast{
    height: 40vh;
    width: 25%;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    white-space: nowrap;
    overflow-y: auto;
}

.toast::-webkit-scrollbar{
    display: none;
}

.successdiv{
    color: green;
    height: 40px;
    width: 85%;
    border: 2px solid black;
    padding-left: 20px;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errordiv{
    color: red;
    height: 40px;
    width: 85%;
    border: 2px solid black;
    padding-left: 20px;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.invaliddiv{
    color: orange;
    height: 40px;
    width: 85%;
    border: 2px solid black;
    padding-left: 20px;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .msg{
    height: 40px;
    width: 85%;
    border: 2px solid red;
    padding-left: 20px;
    margin: 10px 10px 10px 10px;
} */